html,
body {
  padding: 0;
  margin: 0;
  /* already list in theme */
  /* font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.background-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7e2b89+0,dc7210+50,df740c+52,fffcdb+100 */
  background: #7e2b89; /* Old browsers */
  background: -moz-linear-gradient(top, #7e2b89 0%, #dc7210 50%, #df740c 52%, #fffcdb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7e2b89 0%,#dc7210 50%,#df740c 52%,#fffcdb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7e2b89 0%,#dc7210 50%,#df740c 52%,#fffcdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e2b89', endColorstr='#fffcdb',GradientType=0 ); /* IE6-9 */
}